@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

nav {
  width: 50px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #bbb;
  display: block;
  float: left;
  text-align: center;
}

nav > a {
  margin: 0;
  width: calc(100% - 30px);
  padding: 15px;
  color: black;
  display: inline-block;
}
nav > a:hover{
  background-color: #999;
}

header {
  display: block;
  float: left;
  padding: 15px;
}