main.page-add span.type-selector {
  background-color: #ccc;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
main.page-add span.type-selector:hover {
  background-color: #aaa;
}
main.page-add span.type-selector:active {
  background-color: #888;
}
main.page-add span.type-selector.selected {
  background-color: #08c;
}