main.page-notes > div {
  border: 2px solid #aaa;
  margin: 5px;
  padding: 5px;
  position: relative;
  border-radius: 15px;
  float: left;
}

main.page-notes > div > span.modifieddate, main.page-notes > div > span.createddate {
  font-style: italic;
  color: #555;
}

main.page-notes > div > span.title {
  font-weight: bold;
  font-size: 2em;
}

main.page-notes > div > i.fas.fa-times, main.page-records > div > i.fas.fa-pen.edit {
  float: right;
  color: #aaa;
}
main.page-notes > div > i.fas.fa-pen.edit {
  float: right;
  color: #aaa;
  font-size: 12px;
  transform: translateY(2px);
}
main.page-notes > div > i.fas.fa-times::before {
  padding: 0px 2px;
}
main.page-notes > div > i.fas.fa-pen.edit::before {
  padding: 2px;
}
main.page-notes > div > i.fas.fa-times:hover::before {
  color: red;
}
main.page-notes > div > i.fas.fa-times:active::before {
  color: white;
  background-color: red;
  border-radius: 5px;
}
main.page-notes > div > i.fas.fa-pen.edit:hover::before {
  color: #08c;
}
main.page-notes > div > i.fas.fa-pen.edit:active::before {
  color: white;
  background-color: #08c;
  border-radius: 5px;
}

main.page-notes > div > i.fas.fa-pen.ce {
  visibility: hidden;
}