main.page-players > div {
  border: 2px solid #aaa;
  margin: 5px;
  padding: 5px;
  position: relative;
  border-radius: 15px;
  float: left;
}

main.page-players > div > img {
  width: 2em;
  height: 2em;
  background-color: red;
  display: inline-block;
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

main.page-players > div > span.name {
  font-size: 2em;
}

main.page-players > div > span.money {
  font-weight: bold;
  font-size: 2em;
}

main.page-players > div > span.dir {
  font-style: italic;
}

main.page-players > div > hr {
  border: 1px solid #aaa;
}