@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
}

nav {
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #bbb;
  display: block;
  float: left;
  text-align: center;
}

nav.selected {
  text-align: left;
}

nav > div {
  margin: 0;
  width: calc(100% - 30px);
  padding: 15px;
  color: black;
  display: inline-block;
}
nav > div:hover {
  background-color: #999;
  cursor: pointer;
}
nav > div:active {
  background-color: #777;
}

nav > div > span {
  padding: 0px 0px 0px 10px;
  display: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
nav.selected > div > span {
  display: inline-block;
}

nav > hr {
  margin: 0px;
}

header {
  background-color: #eee;
  padding: 0px 0px 10px 0px;
}

header > div {
  display: flex;
  float: left;
  padding: 5px;
  height: fit-content;
  background-color: #aaa;
}

header > div > div {
  width: 35px;
  height: 35px;
  margin: 5px;
  display: inline-block;
  background-color: red;
}

header > div > b {
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

header > span#pagetitle {
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

