@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

nav {
  width: fit-content;
  min-width: 50px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #bbb;
  display: block;
  float: left;
  text-align: center;
  position: fixed;
  z-index: 1;
}

nav.selected {
  text-align: left;
  box-shadow: 5px 0px 5px #555;
}

nav > div {
  margin: 0;
  width: calc(100% - 30px);
  padding: 15px;
  color: black;
  display: inline-block;
}
nav > div:hover {
  background-color: #999;
  cursor: pointer;
}
nav > div:active {
  background-color: #777;
}

nav > div > span {
  padding: 0px 0px 0px 10px;
  display: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
nav.selected > div > span {
  display: inline-block;
}

nav > hr {
  margin: 0px;
}

header {
  background-color: #eee;
  padding: 0px 0px 10px 0px;
  transform: translateX(50px);
  width: calc(100vw - 50px);
}

header > div {
  display: flex;
  float: left;
  padding: 5px;
  height: fit-content;
  background-color: #aaa;
  width: calc(100vw - 60px);
}

#serverlist > div {
  width: 35px;
  height: 35px;
  margin: 5px;
  display: inline-table;
  background-color: red;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
#serverlist > div:hover {
  box-shadow: 3px 3px 3px #555;
  cursor: pointer;
}
#serverlist > div:active {
  background-color: #08c !important;
}

#serverlist > div > span {
  display:table-cell;
  vertical-align:middle;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

header > div > b {
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

header > span#pagetitle {
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

main {
  margin: 15px;
  transform: translateX(50px);
  max-width: calc(100vw - 70px);
}

main * {
  max-width: calc(100vw - 70px);
}


[contenteditable]:hover {
  text-decoration: underline;
  cursor: text;
}
[contenteditable]:focus {
  text-decoration: underline;
}
[contenteditable] + .fas {
  visibility: hidden !important;
}
[contenteditable]:hover + .fas {
  visibility: visible !important;
}
[contenteditable]:empty::before {
  content: attr(placeholder);
  color: grey;
}